{% extends "base.html" %} 

{% block content %}
<h2 class="new-edit-post">New post</h2>
<br>
<div class="post-container">
    <form method="post">
        <label>
            <input class="input-title" type="text" name="subject" value="{{subject}}" placeholder="Title">
        </label>
        <label>
            <div>
            <textarea name="content" placeholder="What is in your mind?...">{{content}}</textarea>
            </div>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit" class="post-button">
    </form>
</div>
{% endblock %}